# === FRAMEWORK PRINCIPAL ===
streamlit==1.35.0
# streamlit-pwa==0.0.3

# === MACHINE LEARNING ===
scikit-learn==1.4.2

#instalar al principio--> pip install xgboost==2.0.3 --default-timeout=1000
#xgboost==2.0.3  
pandas==2.2.2
numpy==1.26.4
joblib==1.4.2

# === IA GENERATIVA ===
langchain==0.2.0
langchain-openai==0.1.8
langchain-experimental==0.0.59
openai==1.30.0
tiktoken==0.7.0

# === VISUALIZACION ===
plotly==5.22.0

# === UTILIDADES ===
python-dotenv==1.0.1
requests==2.32.2

# === TESTING ===
pytest==8.2.0
pytest-cov==5.0.0